<div class="container text-center align-items-center justify-content-center mt-5">
  <div class="container d-flex text-center align-items-center justify-content-around mb-5">
    <% if Current.user %>
      <span>Bienvenido, se encuentra logueado como <%= link_to Current.user.name, password_path %></span> <%= button_to "Cerrar sesión", logout_path, method: :delete, class: "btn btn-outline-danger" %>
    <% else %>
      <%= link_to "Iniciar Sesión", signin_path %>
    <% end %>
  </div>

  <h1> Listado de Películas </h1>
  <div class="container d-flex justify-content-around my-5">
    <%= button_to "Agregar Película", film_path, class:"btn btn-primary" %>
    <%= button_to "Agregar Personaje", personaje_path, class:"btn btn-primary"%>
    <%= button_to "Agregar Género", genre_path, class:"btn btn-primary"%>
  </div>
</div>