
<div class="p-5 m-auto align-items-center">
  <h1> Crear cuenta </h1>

  <%= form_with model: @user, data: {turbo: false}, url: signup_path do |form| %>
    <% if @user.errors.any? %>
      <div class="alert alert-danger">
        <% @user.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
    
    <div class="mb-3">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", placeholder: "Alkemy" %>
    </div>
    <div class="mb-3">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control", placeholder: "test@alkemy.com" %>
    </div>
    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "MyPassword123"%>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "MyPassword123" %>
    </div>
    <div class="mb-3">
      <%= form.submit "Crear", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>