
<div class="p-5 m-auto align-items-center">
  <h1> Cambiar Contraseña </h1>

  <%= form_with model: Current.user, data: {turbo: false}, url: edit_password_path do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control", placeholder: "MyPassword123"%>
    </div>
    <div class="mb-3">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class: "form-control", placeholder: "MyPassword123" %>
    </div>
    <div class="mb-3 d-flex justify-content-between">
      <%= form.submit "Editar Contraseña", class: "btn btn-primary" %>
      <%= link_to "Inicio", root_path %>
    </div>
  <% end %>
</div>